.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #007bff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
h4 {
    font-size: 40px;
    text-align: center;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: #081b29;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Estilos responsivos */
  @media only screen and (max-width: 600px) {

    .home {
        height: 100vh;
    }
    .container {
      padding: 10px;
    }
    
    input,
    textarea {
      padding: 8px;
    }
    
    input[type="submit"] {
      padding: 8px 16px;
    }
  }
